{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container my-3">
<br>
    <h2 class="border-bottom py-2">{{ product.name }}
    </h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
            {% for img in product.photo_set.all%}
                    <img src="{{ img.photo.url }}" width="75%">
            {% endfor %}
            </div>
            <div class="d-flex justify-content-end">
                {% if request.user == product.author or request.user == product.reservation%}
                <div class="badge badge-danger p-2">
                    인증 번호 : {{ product.key }}
                </div>
                {% endif %}
            </div>
        </div>
         {% if request.user == product.author %}
            <div>
                <a href="{% url 'matchat:product_modify' product.id  %}"
                   class="btn btn-sm btn-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-danger"
                   data-uri="{% url 'matchat:product_delete' product.id  %}">삭제</a>
            </div>
            {% endif %}
    </div>
<a href="{% url 'main' %}" class="btn btn-primary">메인</a>
{% if request.user != product.author %}
    {% if product.state == '0' %}
        <a href="" class="btn btn-danger">결제불가</a>
    {% elif product.state == '1' %}
        <a href="{% url 'matchat:pay' product.id %}" class="btn btn-outline-info">결제</a>
    {% elif product.state == '2' %}
        <a href="" class="btn btn-danger">결제완료</a>
    {% else %}
        <a href="" class="btn btn-danger">판매완료</a>
    {% endif %}
{% endif %}

{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>

        <style>
          df-messenger {
           --df-messenger-button-titlebar-color: #20c997;
           --df-messenger-send-icon: #20c997;
          }
        </style>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
          intent="WELCOME"
          chat-title="matchat"
          agent-id="34c4542d-8b06-4eb4-96f7-65b354cedf35"
          language-code="ko"
        ></df-messenger>

{% endblock %}